name: Build Windows App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      # 1. Собираем портативную версию (папку с EXE)
      - name: Create Distributable
        run: ./gradlew :composeApp:createDistributable

      # 2. (Debug) Смотрим, что создалось (правильная команда для PowerShell)
      - name: List files (Debug)
        run: Get-ChildItem composeApp\build\compose\binaries -Recurse

      # 3. Загружаем результат
      # Мы указываем путь до папки 'app', чтобы он загрузил любую папку внутри,
      # независимо от того, называется она 'Osync' или 'com.osync.osync'
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Osync-Windows
          path: composeApp/build/compose/binaries/main/app/